/* declarar as variaveis css */

:root {
  --color-text-primary: #002324;
  --color-text-secondary: #fff;
  --color-primary: #6608c5;
  --color-secondary: #fff;
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none; /*remove o default da decoracao do texto*/
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  color: var(--color-primary); /*cor do texto do botao*/
  border: 2px solid var(--color-primary);
}

.button-primary:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.button-secondary {
  color: var(--color-secondary); /*cor do texto do botao*/
  border: 2px solid var(--color-secondary);
}

.button-secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.button-tertiary {
  background-color: var(--color-primary);
  color: var(--color-secondary); /*cor do texto do botao*/
  border: 2px solid var(--color-primary);
  padding: 10px 15px;
}

.button-tertiary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
