/* declarar as variaveis css */

:root {
  --color-text-primary: #002324;
  --color-text-secondary: #fff;
  --color-primary: #6608c5;
  --color-secondary: #fff;
}

/* styles reset - usar border-box width=content+padding+border */
* {
  box-sizing: border-box;
}

/* estilo do body - generalizado */
body {
  font-family: "Poppins", sans-serif;
  margin: 0; /* tinha uma margin*/
}

footer {
  background-color: var(--color-text-primary);
  width: auto;
  height: 246px;
}

/* retirar estilos da lista que vem por default assim como o padding e a margin */
ul {
  list-style-type: none;
  padding: 0;
  margin: 61px 0px 0px 0px;
}

/* titulo h2 é todo igual ao longo do documento*/
h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
/* end of styles reset*/

/* header section styles */
.header {
  display: flex;
  height: 100vh; /*100% da viewport height*/
  align-items: center; /*temos de alinhar devido ao height*/
  justify-content: center; /* centra os items */
}

.header-content {
  text-align: center; /*alinha o texto dentro da div*/
}

.header-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.4; /*distancia entre linhas este numero vezes a tamanho da font do elemento*/
  color: var(--color-text-primary);
}

/* como nao ha mais spans pode ficar assim senao tinha de ser .header-ttitle span*/
span {
  color: var(--color-primary);
}

/* end of header section */

/* about me section */
.about {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  padding: 100px 0 120px;
  margin-bottom: auto;
  clip-path: polygon(0% 10%, 100% 10%, 100% 87%, 98% 87%, 0% 100%);
}

@media (min-width: 992px) {
  .about-content {
    display: flex;
    max-width: 960px;
    margin: 65px auto 0px auto;
  }
  .about-description {
    line-height: 28px;
    font-weight: 400;
    margin: 0px 70px 90px 70px;
  }
  .about-img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media (max-width: 991px) {
  .about-description {
    /*line-height: 28px;
    font-weight: 400;*/
    margin: 40px 40px 40px 40px;
    text-align: center;
  }
  .button-secondary {
    display: inline-block;
    text-align: center;
  }
  .about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.about-quote {
  text-align: center;
  margin-top: 88px;
}

.about-description p {
  margin: 0px 0px 40px 0px;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  font-size: 24px;
}

cite {
  font-style: normal;
  line-height: 1.4;
  font-weight: 400;
}
/* end of about me section */

/* projects section styles */
@media (min-width: 992px) {
  .projects-article {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.projects-article {
  padding: 40px;
  text-align: justify;
}

.projects-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-article div {
  padding-right: 40px;
}

.projects-article .button {
  margin: 10px;
}

/* contac section styles */
.contact {
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  padding-top: 150px;
  clip-path: polygon(0% 25%, 100% 9%, 100% 100%, 0% 100%);
}

.contact-content {
  text-align: center;
  align-items: center;
  padding: 0px 100px 100px 100px;
}
/* end of contact section */

/* footer section styles */

li {
  animation: float 8s ease-in-out infinite;
}
li:first-child {
  animation-delay: 1s;
}

li:nth-child(2) {
  animation-delay: 2s;
}
li:nth-child(3) {
  animation-delay: 3s;
}

li:nth-child(4) {
  animation-delay: 4s;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-wrapper {
  position: relative;
}

.icons-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.social-item {
  display: inline-block; /* para conseguir dar medidas aos icones*/
  background-color: var(--color-secondary);
  border-radius: 50%;
  padding: 5px; /*senao fica muito pequeno em relacao ao circulo*/
  margin: 0px 10px 0px 10px;
}

.social-item:hover {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
}

.github {
  background-image: url(../../assets/icons/icon-github.png);
}

.linkedin {
  background-image: url(../../assets/icons/icon-linkedin.png);
}

.youtube {
  background-image: url(../../assets/icons/icon-youtube.png);
}
.twitter {
  background-image: url(../../assets/icons/icon-twitter.png);
}

.social-link .linkedin {
}

.footer-section p {
  color: var(--color-text-secondary);
  margin: 39px 0px;
}

@keyframes float {
  0% {
    transform: translateY(0); /*The starting point of the animation is 0.*/
  }
  50% {
    transform: translateY(
      -20px
    ); /*The middle point of the animation is -15xp. This will move the element up.*/
  }
  100% {
    transform: translateY(
      0
    ); /*The last point of the animation is going back to the starting state of 0.*/
  }
}
